
* {
    background-color: #262626;
    color: #bebebe;
}

button,
label,
entry,
switch slider {
    border: none;
    background-color: #202020;
}

switch slider {
  border-radius: 12px;
}

switch slider:checked {
  background-color: #308800;
}

