* {
    background-color: #D3D3D3;
    color: #000000;
}

button,
label,
switch slider {
    border: none;
    background-color: #a9a9a9;
}

switch slider {
  border-radius: 12px;
}

switch slider:checked {
  background-color: #308800;
}


